h1 {
  font-family: "Roboto", sans-serif;
  font-size: 54px;
  font-weight: bold;
  margin-top: 25px;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 70px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
}

/*PARTIE HEADER*/
header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  position: fixed; /*pour fixer le header*/
  left: 0;
  right: 0;
  top: 0;
}

.main {
  margin-top: 80px;
}

.div-logo-and-search {
  width: fit-content;
  display: flex;
  align-items: center;
}

.logo {
  width: 200px;
  height: 60px;
  margin-right: 30px;
  cursor: pointer;
}

.search {
  width: 200px;
  height: 30px;
  background: white;
  color: black;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 10px;
}

/*PARTIE LIENS HEADER*/
.links {
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links span {
  margin-left: 10px;
}

.img-menu-links {
  width: 30px;
  height: 30px;
}

.txt-menu {
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  width: fit-content;
  padding-top: 10px;
}

.btn-connect {
  border-radius: 20px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  border: none;
  padding: 15px;
  background-color: black;
}

/*PARTIE TITRE*/
.explore {
  color: red;
  margin-bottom: 40px;
}

.revenus {
  font: 15px;
  color: #333333;
  margin-top: 20px;
}

/*PARTIE LIENS*/
.second-links {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.second-links p {
  flex: 1;
  height: 25px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

/*PARTIE PHOTOS*/
.images {
  /* background: salmon; */
  margin-top: 50px;
  height: 400px;
  display: flex;
  gap: 2px;
}

.left {
  background-image: url("/assets/img/quai.jpeg");
  flex: 4;
}

.right {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.right-top {
  background-image: url("/assets/img/moto.jpeg");
  flex: 1;
}

.right-bottom {
  background-image: url("/assets/img/toureiffel.jpeg");
  flex: 1;
}

/*FACTORISE EN AJOUTANT UNE SECONDE CLASSE CAR ON L'APPLIQUE SUR LES IMAGES*/
.images .center-background {
  background-size: cover;
  background-position: center;
}

/*PARTIE LUMIERE*/
.lumiere {
  font-size: 20px;
  margin-top: 20px;
  width: 45%;
  text-align: justify;
}

/*PARTIE CAROUSSEL*/
.immanquables {
  display: flex;
  margin-top: 20px;
  width: 1100px;
}

.div-texte {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

/*CONTIENT div-photo*/
.container-carousel {
  display: flex;
  gap: 10px;
  flex: 3;
  overflow-x: scroll;
}

.div-photo {
  position: relative;
  flex-shrink: 0;
  box-sizing: border-box;
}

.div-photo img {
  height: 250px;
  width: 250px;
}

.div-photo h4 {
  margin-top: 10px;
}

.circle {
  color: green;
}

.heart {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 30px;
}
